<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <!--in this way, we just specify the partials name, without even the extension and the header is used-->

            <h1>Help Will be provided by {{name}}</h1>
        </div>
        {{>footer}}
    </body>
</html>